<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="updatePage()">
        <ion-icon name="refresh-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <span>{{(specialist | async)?.name}}</span>
        <ion-segment (ionChange)="changeView($event)" value="day">
          <ion-segment-button value="day">
            <ion-label>день</ion-label>
          </ion-segment-button>
          <ion-segment-button value="week">
            <ion-label>неделя</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-datetime #dateNode value="{{date | date:'yyyy-MM-dd'}}" displayFormat="DD MMMM YYYY" [min]="minDateString" [max]="maxDateString"
          cancelText="Отмена" doneText="Ок" [monthNames]="monthNames" (ionChange)="selectDate(dateNode)"></ion-datetime>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- DAY -->
  <div *ngIf="!isWeekView">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{date | date:'dd.MM.yyyy'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let seance of seances" [ngStyle]="{marginTop: seance.getMarginTop(), height: seance.getHeight()}"
          (click)="openSeance(seance.id)"
          [ngClass]="{'seance': true, 'created': seance.status === 1, 'scheduled': seance.status === 2, 'aborted': seance.status === 3, 'finished': seance.status === 4}">
          <h6>{{seance.goodName}}</h6>
        </div>
        <div *ngFor="let fm of fms"
          [ngClass]="{'five-minutes': true, 'hour-start': fm.minutes === 0, minutes20: fm.minutes % 15 === 0}">
          <span [ngClass]="{'minutes': true}" *ngIf="fm.minutes % 15 === 0">{{fm.minutes | number:'2.0-0'}}</span>
          <span class="hour" *ngIf="fm.minutes === 0">{{fm.hour | number:'2.0-0'}}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- WEEK -->
  <div *ngIf="isWeekView" [ngClass]="{'isWeekView': true}">
    <ion-card *ngFor="let day of weekSeances">
      <ion-card-header>
        <ion-card-title>{{day.date | date:'dd.MM.yyyy'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let seance of (day.seances | async)" [ngStyle]="{marginTop: seance.getMarginTop(), height: seance.getHeight()}"
          (click)="openSeance(seance.id)"
          [ngClass]="{'seance': true, 'created': seance.status === 1, 'scheduled': seance.status === 2, 'aborted': seance.status === 3, 'finished': seance.status === 4}">
          <h6>{{seance.goodName}}</h6>
        </div>
        <div *ngFor="let fm of fms"
          [ngClass]="{'five-minutes': true, 'hour-start': fm.minutes === 0, minutes20: fm.minutes % 15 === 0}">
          <span [ngClass]="{'minutes': true}" *ngIf="fm.minutes % 15 === 0">{{fm.minutes | number:'2.0-0'}}</span>
          <span class="hour" *ngIf="fm.minutes === 0">{{fm.hour | number:'2.0-0'}}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>