<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">
      <ion-card>
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="login()">
          <input type="hidden" formControlName="app" />
          <ion-card-header>
            <ion-card-title color="medium">Вход в систему</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Логин</ion-label>
              <ion-input type="text" formControlName="login"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Пароль</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <button type="submit" #submitBtn [ngStyle]="{display: 'none'}"></button>
            <ion-button fill="outline" expand="block" (click)="submitBtn.click()" [disabled]="form.invalid">
              <ion-icon slot="end" name="checkmark"></ion-icon>
              Войти
            </ion-button>
          </ion-card-content>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>