<ion-content>
  <div class="spec-list">
    <ion-card *ngFor="let spec of specialists | async">
      <ion-card-header>
        <ion-icon name="create" [routerLink]="['/specialist/edit/' + spec.id]" class="link"></ion-icon>
        <div class="img" [ngStyle]="{backgroundImage: 'url(' + spec.img + ')'}"></div>
        <!-- <ion-card-title>
          {{spec.name}}
        </ion-card-title>
        <ion-card-subtitle>{{spec.description}}</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content>
        <div>
          <h3>{{spec.name}}</h3>
          <h4>{{spec.description}}</h4>
          <p text-center class="card-buttons">
            <ion-button color="secondary" [routerLink]="['/specialist/' + spec.id + '/good']" fill="outline"
              size="small" expand="full">
              Услуги </ion-button>
            <ion-button color="secondary" [routerLink]="['/specialist/' + spec.id + '/schedule']" fill="outline"
              size="small" expand="full"> Расписание </ion-button>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="add-specialist" [routerLink]="['/specialist/create']">
      <p text-center>
        <ion-icon name="add-circle"></ion-icon>
      </p>
    </ion-card>
  </div>
</ion-content>