<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Новый пользователь</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="form;else loading">
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-select formControlName="specialistId" placeholder="выберите специалиста..." interface="alert"
          okText="Выбрать" cancelText="Отмена">
          <ion-select-option *ngFor="let specialist of specialists" [value]="specialist.id">{{specialist.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">E-Mail</ion-label>
        <ion-input formControlName="email" type="text" maxLength="50" placeholder="qwerty@qwerty.uio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Телефон</ion-label>
        <div [ngStyle]="{display: 'flex'}">
          <span [ngStyle]="{padding: '8px'}">+7</span>
          <ion-input formControlName="phone" type="text" maxLength="10" placeholder="XXXXXXXXXX"></ion-input>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Логин</ion-label>
        <ion-input formControlName="login" type="text" maxLength="20" placeholder="только латиские буквы"></ion-input>
        <p *ngIf="form.get('login').errors" [ngStyle]="{margin: '0'}">
          <span class="text-danger" *ngIf="form.get('login').errors['loginIsUsed']">Логин уже занят!</span>
        </p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Пароль</ion-label>
        <ion-input formControlName="password" type="password" maxLength="20" placeholder="не менее 6 символов">
        </ion-input>
      </ion-item>
      <ion-toolbar>
        <ion-buttons slot="end">
          <button type="submit" #submitBtn [ngStyle]="{display: 'none'}"></button>
          <ion-button color="tertiary" routerDirection="root" size="small" [disabled]="form.invalid"
            (click)="submitBtn.click()">
            <ion-icon slot="end" name="checkmark"></ion-icon>
            Сохранить
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </form>
  </ion-card>
</ion-content>

<ng-template #loading>
  <div [ngStyle]="{height: '100%'}">
    <ion-progress-bar color="tertiary" type="indeterminate"></ion-progress-bar>
  </div>
</ng-template>