<ion-content>
  <ion-row>
    <ion-col size="10" size-sm="10" size-sm-offset="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center>
      <!-- <ion-icon name="calendar" size="large"></ion-icon> -->
      <ion-item>
        <!-- <ion-label>Месяц</ion-label> -->
        <ion-datetime display-format="MMMM, YYYY" center [monthNames]="monthNames" [min]="minDate" [max]="maxDate" [value]="currentDateString" (ionChange)="changeMonth()" doneText="Выбрать" cancelText="Отмена"></ion-datetime>
      </ion-item>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col size="2" offset-sm="4" class="arrow-column">
      <ion-icon name="arrow-dropleft" size="large" (click)="previous()" *ngIf="previousIsVisible"></ion-icon>
    </ion-col>
    <ion-col size="2" class="arrow-column">
      <ion-icon name="arrow-dropright" size="large" (click)="next()" *ngIf="nextIsVisible"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="11" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
      <ion-card text-center>
        <ion-card-header color="primary">
          <ion-card-subtitle>{{month.y}}</ion-card-subtitle>
          <ion-card-title>{{month.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="calendar">
            <div class="date space" *ngFor="let s of beginSpaces"></div>
            <div [ngClass]="{date: true, busy: d.isBusy, today: d.isToday}" *ngFor="let d of dates"
              (click)="openDate(d.n)">
              {{d.n}}</div>
            <div class="date space" *ngFor="let s of finalSpaces"></div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>