<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Новая услуга </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="form">
  <ion-row>
    <ion-col size="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
        <input type="hidden" formControlName="specialistId" />
        <ion-item>
          <ion-label position="stacked">Имя</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Описание</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Цена</ion-label>
          <ion-input type="number" formControlName="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Продолжительность</ion-label>
          <ion-input type="number" formControlName="duration"></ion-input>
        </ion-item>
        <ion-item style="display: flex;">
          <ion-toggle color="secondary" formControlName="invisible"></ion-toggle>
          <ion-icon position="stacked" name="eye-off" [ngStyle]="{transition: '.4s'}"
            [ngClass]="{'eye-active': form.value.invisible}"></ion-icon>
        </ion-item>
        <ion-toolbar>
          <ion-buttons slot="end">
            <button type="submit" #submitBtn [ngStyle]="{display: 'none'}"></button>
            <ion-button routerDirection="root" color="secondary" size="small" (click)="submitBtn.click()"
              [disabled]="form.invalid">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Сохранить
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </form>
    </ion-col>
  </ion-row>
</ion-content>