<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Копирование расписания с даты</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="form">
    <div class="alert alert-info" [ngStyle]="{margin: '10px'}">
        <p>Данная процедура позволяет скопировать расписание с выбранной даты на текущий день.</p>
        <b>ВНИМАНИЕ!</b>
        <p>Созданное на текущий день расписание будет перезаписано.</p>
      </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="hidden" formControlName="dateTo" />
    <input type="hidden" formControlName="specialistId" />
    <ion-item>
      <ion-label>Дата</ion-label>
      <ion-datetime display-format="DD.MM.YYYY" formControlName="dateFrom" doneText="Ок" cancelText="Отмена">
      </ion-datetime>
    </ion-item>
    <ion-toolbar [ngStyle]="{textAlign: 'right', padding: '0 10px'}">
      <ion-button routerDirection="root" color="dark" size="small" strong (click)="close()"> Отменить </ion-button>
      <ion-button routerDirection="root" color="primary" size="small" type="submit" round [disabled]="form.invalid">
        Сохранить </ion-button>
    </ion-toolbar>
  </form>
</ion-content>