<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Копирование расписания с даты</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="form">
  <div class="alert alert-info" [ngStyle]="{margin: '10px'}">
    <p>Данная процедура позволяет скопировать расписание с выбранной даты на текущий день.</p>
    <b>ВНИМАНИЕ!</b>
    <p>Созданное на текущий день расписание будет перезаписано.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="hidden" formControlName="dateTo" />
    <input type="hidden" formControlName="specialistId" />
    <ion-item>
      <ion-label>Дата</ion-label>
      <ion-datetime display-format="DD.MM.YYYY" formControlName="dateFrom" doneText="Ок" cancelText="Отмена">
      </ion-datetime>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="end">
        <button type="submit" #submitBtn [ngStyle]="{display: 'none'}"></button>
        <ion-button routerDirection="root" color="danger" size="small" strong (click)="close()">
          <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
          Отменить
        </ion-button>
        <ion-button routerDirection="root" color="secondary" size="small" (click)="submitBtn.click()"
          [disabled]="form.invalid">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Сохранить
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>