<ion-header>
    <ion-toolbar>
      <ion-title>Изменение пароля</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form *ngIf="form;else loading" [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="stacked">Новый пароль</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Подтверждение</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <div *ngIf="form.errors">
        <div class="alert alert-danger" *ngIf="form.errors['notMatch']">
          Пароли не совпадают.
        </div>
      </div>
      <ion-toolbar>
        <ion-buttons slot="end">
          <button type="submit" #submitBtn [ngStyle]="{display: 'none'}"></button>
          <ion-button [disabled]="form.invalid" (click)="submitBtn.click()">
            <ion-icon color="tertiary" slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </form>
  </ion-content>
  
  <ng-template #loading>
    <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
  </ng-template>